# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
/rider_app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
/rider_app/.dart_tool/
/rider_app/.flutter-plugins
/rider_app/.flutter-plugins-dependencies
/rider_app/.packages
/rider_app/.pub-cache/
/rider_app/.pub/
/rider_app/build/

# Web related
/rider_app/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
